<%- include('./base/header.ejs')%>
<div class="container"></div>
    <div class="alert bg-success my-3">
      <h4 class ="text-center" style="color:white">Students List</h4>
    </div>
</div>
<div class="contianer">
    <div class="row">
        <table class = "tabel text-center">
            <thead>
                <tr>
                    <th>Roll No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Father Name</th>
                    <th>Adhar Card No</th>
                    <th>Mobile NO</th>
                </tr>
            </thead>
            <% students.forEach((student)=>{ %>
                <tr>
                    <td><%= student.rollNo %></td>
                    <td><%= student.firstName %></td>
                    <td><%= student.lastName %></td>
                    <td><%= student.fatherName %></td>
                    <td><%= student.adharCardNo %></td>
                    <td><%= student.mobileNo %></td>
                </tr>
            <% }) %>
        </table>
    </div>
</div>
<%- include('./base/footer.ejs')%>