<%- include('./base/header.ejs')%>
  <div class="container">
    <div class="alert bg-success my-3">
      <h4 class ="text-center" style="color:white"> Update Student</h4>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <form action = '/update/student/<%= student._id %>' method ="post">
          <div>
            <label class ="form-label">Roll No</label>
            <input type="text" class="form-control" name="rollNo" value = "<%=student.rollNo %>">
          </div>
          <div>
            <label class ="form-label">First Name</label>
            <input type="text" class="form-control" name="firstName" value = "<%=student.firstName %>">
          </div>
          <div>
            <label class ="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastName" value = "<%=student.lastName %>">
          </div>
          <div>
            <label class ="form-label">Father Name</label>
            <input type="text" class="form-control" name="fatherName" value = "<%=student.fatherName %>">
          </div>
          <div>
            <label class ="form-label">Adhar Card No</label>
            <input type="text" class="form-control" name="adharCardNo" value = "<%=student.adharCardNo %>">
          </div>
          <div>
            <label class ="form-label">Mobile No</label>
            <input type="text" class="form-control" name="mobileNo" value = "<%=student.mobileNo %>">
          </div>
          <input type="submit" value ="Update student" class="btn btn-warning w-75">
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <%- include('./base/footer.ejs')%>
